.block.block_category_tiles .content {
    padding: 0;
    margin-top: 30px;
}

.block.block_category_tiles ul.unlist {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.block.block_category_tiles ul.unlist > li {
    margin-bottom: 1.5em;
}

.block.block_category_tiles ul.unlist .icon {
    width:auto;
    height:auto;
}

.block.block_category_tiles ul.unlist .icon img {
    width:100%;
    max-width:20vw;
}

.block.block_category_tiles ul.unlist .column.c1 {
    text-align:center;
}