/* .block_category_tiles {
    max-width: 1025px;
    margin: 0 auto;
} */

body:not(.editing) .block_category_tiles .header {
    display: none;
}

.block.block_category_tiles .content {
    padding: 0;
    margin-top: 30px;
}

.block.block_category_tiles .content .unlist {
    font-size: 0;
}

.block.block_category_tiles .content .unlist li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 0;
}

/* Screen width: Less than 400 */
.block.block_category_tiles .content .unlist li.col1,
.block.block_category_tiles .content .unlist li:nth-child(2n),
.block.block_category_tiles .content .unlist li:nth-child(3n),
.block.block_category_tiles .content .unlist li:nth-child(4n) {
    width: 100%;
    padding-bottom: 100%;
    margin: 0 0 5% 0;
}

/* Screen width: 400 - 750 */
.block.block_category_tiles .content .unlist li.col2,
.block.block_category_tiles .content .unlist li.col2:nth-child(3n),
.block.block_category_tiles .content .unlist li.col2:nth-child(4n) {
    width: 47.5%;
    padding-bottom: 47.5%;
    margin: 0 5% 5% 0;
}
.block.block_category_tiles .content .unlist li.col2:nth-child(2n) {
    margin-right: 0;
}

/* Screen width: 750 - 1050 */
.block.block_category_tiles .content .unlist li.col3,
.block.block_category_tiles .content .unlist li.col3:nth-child(2n),
.block.block_category_tiles .content .unlist li.col3:nth-child(4n) {
    width: 30%;
    padding-bottom: 30%;
    margin: 0 5% 5% 0;
}
.block.block_category_tiles .content .unlist li.col3:nth-child(3n) {
    margin-right: 0;
}

/* Screen width: Over 1050 */
.block.block_category_tiles .content .unlist li.col4,
.block.block_category_tiles .content .unlist li.col4:nth-child(2n),
.block.block_category_tiles .content .unlist li.col4:nth-child(3n) {
    width: 22.75%;
    padding-bottom: 22.75%;
    margin: 0 3% 3% 0;
}
.block.block_category_tiles .content .unlist li.col4:nth-child(4n) {
    margin-right: 0;
}

.block.block_category_tiles .content .unlist li:hover .category-tile,
.block.block_category_tiles .content .unlist li:hover .category-tile-title,
.block.block_category_tiles .content .unlist li:hover .category-tile-image {
    box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.1);
}

.block.block_category_tiles .content .unlist li .category-tile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #158f39;
    font-size: 20px;
}


.block.block_category_tiles .content .unlist li .category-tile .category-tile-title {
    position: relative;
    padding: 10px;
    background: #01719f;
    color: #FFF;
    z-index: 2;
}

.block.block_category_tiles .content .unlist li .category-tile .category-tile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
